.MyDashboard{
    display: flex;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.sidebar{
    width: 16.5%;
    height: 89vh;
    position: relative;
    border-right-color: rgba(0,0,0,.05);
    background-color: white;
}

.Mycourse{
    width: 83.5%;
    background-color: #f0f3f4;
}

/* .footer_box{
    display: none;
} */

.mycourse-heading{
    margin: 30px 20vh auto 10vh;
    border-bottom: 1px solid rgb(168, 166, 166);
    color: #00a5ec;
    font-weight: 400;

}

.Profile_nav_selected {
    box-sizing: border-box;
    width: 250px;
    height: 50px;
    line-height: 50px;
    background-color: #ecf9ff;
    color: #5393ec;
    border-right: 3px solid #5393ec;
    padding-left: 5px;
    transition: width .8s ease;
}

.Profile_nav-list-icon {
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
}

span {
    display: inline-block;
    letter-spacing: 1.3px;
    font-weight: 400;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.Profile_nav-list-icon svg {
    width: 28px;
    height: 28px;
}

.MuiSvgIcon-root {
    font-size: 1.2rem!important;
}

.Profile_nav-list-detail {
    margin-left: 70px;
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear;
    transition-delay: .3s;
}

/* .mycourse-heading::after{
    transition: all .3s cubic-bezier(1,0,0,1);
    will-change: transform,box-shadow,opacity;
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px 3px 0 0;
    background: #00a5ec;
    box-shadow: 0 4px 10px 3px rgba(#00a5ec,.15);
    opacity: 0;
    transform: scaleX(0);
    opacity: 1;
    transform: scale(1);

} */

.container-course{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: baseline;
    padding: 5em;
    box-sizing: border-box;
}

.cards{
    width: 17em;
    padding: 10px;
    background: transparent linear-gradient(180deg,#e0ebf9,#fff 54%,#fff) 0 0 no-repeat padding-box;
    box-shadow: 0 10px 30px rgba(95,141,196,.2);
    border-radius: 5px;
    color: #707070;
    margin: 0 auto 30px;
}

.PastMockTestCard__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.PastMockTestCard__bottom--button {
    background: #22559c;
    box-shadow: 0 3px 6px rgba(95,141,196,.2);
    border-radius: 5px;
    cursor: pointer;
    padding: 11px 33.7px;
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
    text-decoration: none;
    border: none;
}

.TopicMockTestCard__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.TopicMockTestCard__bottom--button {
    background: #22559c;
    box-shadow: 0 3px 6px rgba(95,141,196,.2);
    border-radius: 5px;
    cursor: pointer;
    padding: 11px 33.7px;
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
    text-decoration: none;
    border: none;
}

.CompanyMockTestCard__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.CompanyMockTestCard__bottom--button {
    background: #22559c;
    box-shadow: 0 3px 6px rgba(95,141,196,.2);
    border-radius: 5px;
    cursor: pointer;
    padding: 11px 33.7px;
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
    text-decoration: none;
    border: none;
}