.IncomeSharingHeader {
    color: #3e4041;
    min-height: 550px;
    background: #fff;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.IncomeSharingHeader-main {
    margin: 0 auto;
    max-width: 1286px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(253, 240, 215);
}

.IncomeSharingHeader-main__right {
    width: 70%;
    height: 620px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(https://s3.ap-south-1.amazonaws.com/www.prepbytes.com/images/elevation-academy/ISA-masthead-mern-5.webp);
}

.IncomeSharingHeader-main__right--img {
    display: none;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.IncomeSharingHeader-main__left {
    width: 52%;
    padding: 80px 40px;
}

.IncomeSharingHeader-main__left--heading {
    font-size: 35px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 30px;
}

.IncomeSharingHeader-main__left--text {
    width: 70%;
    line-height: 1.5;
    margin-bottom: 10px;
    font-size: 18px;
    color: #424242;
}

.IncomeSharingHeader-main__left--text--span {
    color: #00a5ec;
}

span {
    display: inline-block;
    letter-spacing: 1.3px;
    font-weight: 400;
}

.IncomeSharingHeader-main__left-list {
    margin: 25px 0;
}

.IncomeSharingHeader-main__left-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.IncomeSharingHeader-main__left-list-item--img {
    height: 12px;
    width: 12px;
}

.IncomeSharingHeader-main__left-list-item--text {
    margin-left: 7px;
    font-size: 18px;
    color: #424242;
}

.IncomeSharingHeader-main__left-buttons {
    display: flex;
}

.IncomeSharingHeader-main__left-buttons--button-enroll {
    margin-right: 30px;
    background: #00a5ec 0 0 no-repeat padding-box;
    border: none;
    padding: 15px 52px 14px 51px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
}

.IncomeSharingHeader-main__left-buttons--button-knowmore {
    background: transparent;
    -webkit-box-shadow: 0 3px 6px rgba(95,141,196,.2);
    box-shadow: 0 3px 6px rgba(95,141,196,.2);
    border-radius: 5px;
    color: #00a5ec;
    border: 1px solid #00a5ec;
    padding: 14px 51px 13px 50px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
}

/* 888888888 */

.NewBatch {
    max-width: 1286px;
    background: #e5f4fb 0 0 no-repeat padding-box;
    margin-left: auto;
    margin-right: auto;
}

.NewBatch-main {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.NewBatch-main-left {
    width: 35%;
}

.NewBatch__main_left_heading_text {
    letter-spacing: 0;
    color: #424242;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.NewBatch__main_left_date_text {
    letter-spacing: 0;
    color: #f7f7f7;
    background: #00a5ec 0 0 no-repeat padding-box;
    display: inline-block;
    padding: 7px 12px;
    font-size: 20px;
    font-weight: 600;
}

.NewBatch-main-right{
    width: 65%;
    display: flex;
    justify-content: center;
}

.NewBatch__main_right_point_outer_counter:not(:last-child) {
    width: 33.3%;
}

.NewBatch__main_right_point_outer_counter {
    display: flex;
    position: relative;
}

.NewBatch__main_right_point_container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.NewBatch__main_right_point_container img {
    height: 60px;
    width: 60px;
}

.NewBatch__main_right_point_img {
    background: transparent linear-gradient(67deg,#00a5ec,#99e0ff) 0 0 no-repeat padding-box;
    border-radius: 50%;
}

.NewBatch__main_right_point_text_container {
    display: flex;
    flex-direction: column;
}

.NewBatch__main_right_point_text_heading {
    letter-spacing: 0;
    color: #095170;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.NewBatch__main_right_point_text_date {
    font-size: 14px;
    background: #d6f3ff 0 0 no-repeat padding-box;
    border: 0.5px dashed #00a5ec;
    border-radius: 6px;
    display: inline;
    padding: 2px 4px;
    text-align: center;
    letter-spacing: 0;
    color: #424242;
}

.NewBatch__main_right_point_outer_counter:not(:last-child):after {
    content: "";
    width: 98%;
    height: 2px;
    background: transparent linear-gradient(90deg,#00a5ec,#99e0ff) 0 0 no-repeat padding-box;
    position: absolute;
    top: 28px;
    left: 29%;
}

.IncomeSharing-Journey-container{
    max-width: 1440px;
    margin: 80px auto 25px;
    padding: 40px 10%;
    background-size: cover;
    /* background-image: url((unknown)); */
}

.IncomeSharing-Journey-container-heading{
    margin-bottom: 40px;
}

.IncomeSharingJourney__heading {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0;
    color: #424242;
}

.IncomeSharing-Journey-container-list{
    display: flex;
}

.IncomeSharingJourney__list_title_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.IncomeSharingJourney_item_title_container {
    display: flex;
    align-items: center;
    position: relative;
}

.IncomeSharingJourney_title_container {
    border-radius: 10px;
    padding: 15px 0;
    width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 10px;
    background: #fff 0 0 no-repeat padding-box;
    border: 0.5px solid #c2c2c2;
}

.IncomeSharingJourney_connector_line {
    height: 2px;
    width: 70px;
    background-color: #00a5ec;
    position: relative;
    left: -10px;
    z-index: 10;
}

.IncomeSharingJourney_title_number {
    width: 45px;
    height: 40px;
    box-shadow: 0 0 20px rgba(0,0,0,.1607843137254902);
    border-radius: 10px;
    color: #424242;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -22px;
    background-color: rgb(255, 251, 248);
    border: 1px dashed rgb(255, 158, 82);
}

.IncomeSharingJourney_title {
    letter-spacing: 0;
    font-weight: 600;
    font-size: 16px;
    padding-right: 25px;
    text-align: center;
    width: 100%;
}

.IncomeSharing-Journey-container-list-desc{
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: #f7f7f7 0 0 no-repeat padding-box;
    border-radius: 10px;
    border: 1px;
    position: relative;
    left: -25px;
}

.IncomeSharingJourney_desc_container {
    display: flex;
    box-shadow: 0 0 20px rgba(0,0,0,.1607843137254902);
    border-radius: 10px;
    background: transparent linear-gradient(101deg,#fff,#f3fcff) 0 0 no-repeat padding-box;
    height: 105px;
    margin: 10px 0;
}

.IncomeSharingJourney_desc_text_container {
    display: flex;
    width: 70%;
    align-items: center;
}

.IncomeSharingJourney_desc {
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    color: #424242;
    width: 100%;
    padding: 0 20px;
    max-height: 90px;
    overflow-y: scroll;
}

.IncomeSharingJourney_desc_img_container {
    display: flex;
    width: 30%;
}

.IncomeSharingJourney_desc_img {
    width: 100%;
    height: 100%;
}

.programHighlight-New{
    max-width: 1280px;
    margin: 40px auto 0;
}

.ProgramHighlightsNew__heading_container {
    text-align: center;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.ProgramHighlightsNew__heading_text {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}

.ProgramHighlightsNew__heading_subtext, .ProgramHighlightsNew__heading_text {
    letter-spacing: 0;
    color: #3e4041;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.ProgramHighlightsNew__heading_subtext {
    font-size: 16px;
}

.programHighlight-New-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ProgramHighlightsNew__highlights_point_container {
    width: 350px;
    height: 255px;
    box-shadow: 0 0 20px rgba(0,0,0,.1607843137254902);
    border: 0.5px solid #c2c2c2;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
}

.ProgramHighlightsNew__highlights_point_image {
    background: #fdf0d7 0 0 no-repeat padding-box;
    border-radius: 10px;
    height: 73px;
    width: 73px;
    padding: 15px;
}

.ProgramHighlightsNew__highlights_point_text_container {
    height: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.ProgramHighlightsNew__highlights_point_text_heading {
    letter-spacing: 0;
    color: #3e4041;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.ProgramHighlightsNew__highlights_point_text_sub_heading {
    letter-spacing: 0;
    color: #858585;
    font-size: 16px;
}
.incomeSharing-sylabus-main{
    padding: 30px 10px 40px;
    background: #fff;
}

.IncomeSharingSyllabus__main-top {
    max-width: 1280px;
    margin: 40px auto;
}

.IncomeSharingSyllabus__main-top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    flex-direction: column;
}

.IncomeSharingSyllabus__main-top-container--heading {
    color: #3e4041;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.IncomeSharingSyllabus__main-top--text {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    color: rgba(106,127,134,.9294117647058824);
}

.IncomeSharingSyllabus {
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.IncomeSharingSyllabus__box {
    position: relative;
    text-align: center;
    padding: 13px;
    margin-bottom: 15px;
}

.IncomeSharingSyllabus__box--text {
    color: #f7f7f7;
    font-size: 18px;
}

.IncomeSharingSyllabus__box:after {
    content: "";
    position: absolute;
    top: 100%;
    height: 60px;
    bottom: 0;
    left: 50%;
    border-left: 0.25px solid hsla(0,0%,43.9%,.2);
    transform: translate(-50%);
}


.IncomeSharingSyllabusContent__course-section {
    display: flex;
    flex-direction: column;
}

.IncomeSharingSyllabus__course-top {
    background: #fff;
    padding: 12px 20px;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 0.25px solid hsla(0,0%,43.9%,.2);
    border-left: 8px solid #f78077;
}

.IncomeSharingSyllabus__course-top-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 20px;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.IncomeSharingSyllabus__course-top-main-box {
    border: 2px solid #f78077;
    border-radius: 6px;
    padding: 2px;
}

.IncomeSharingSyllabus__course-top-main-box--text {
    font-size: 20px;
    background-color: #f78077;
    border-radius: 6px;
    padding: 0 12px;
    color: #fff;
}

.IncomeSharingSyllabus__course-top-main--text {
    margin-left: 15px;
    font-size: 21px;
    color: #424242;
    font-weight: 600;
}

.IncomeSharingSyllabus__course-top--icon {
    background: #e8f7ed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 7px;
    cursor: pointer;
}

.IncomeSharingSyllabusContent__course-content {
    overflow: hidden;
    transition: max-height .6s ease;
    margin-top: 0px;
    max-height: 443px;
}

.IncomeSharingSyllabus__course-content {
    padding: 21px 44px 21px 17px;
    justify-content: space-between;
    align-items: flex-start;
    background: #f6f8ff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 8px solid #f78077;
}

.IncomeSharingSyllabus__topic-main--container--heading {
    margin: 30px 5px;
    padding: 15px;
    background: #e8f7ed;
}

.IncomeSharingSyllabus__topic-main--container-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.IncomeSharingSyllabus__topic-main--container-list--item {
    border: 1px solid red;
    color: #858585;
    padding: 12px 8px;
    margin: 10px;
    background: #fff;
}





.upcommingBatch{
    background: #fdf0d7;
}

.upcommingBatch-main{
    margin: 0 auto;
    max-width: 1286px;
    display: flex;
    align-items: center;
}

.UpcomingBatches__main-left {
    padding: 50px;
}

.UpcomingBatches__main-left--text {
    font-size: 22px;
    color: #424242;
    margin-bottom: 10px;
    width: 70%;
    font-weight: 600;
    line-height: 1.4;
}

.UpcomingBatches__main-left--btn {
    border-radius: 4px;
    border: none;
    padding: 10px 16px;
    background: #f78077;
    color: #f7f7f7;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.UpcomingBatches__main-right img {
    height: 100%;
    width: 100%;
}

.StudentTestimonials{
    max-width: 1251px;
    margin: 125px auto 100px
}

.StudentsTestimonials__heading {
    font-weight: 600;
    letter-spacing: 0;
    display: block;
    text-align: center;
    margin: 15px 0;
    font-size: 16px;
    color: #858585;
    margin-left: 10px;
    margin-right: 10px;
}

#StudentsTestimonials__subHeading {
    font-weight: 600;
    letter-spacing: 0;
    display: block;
    text-align: center;
    font-size: 2rem;
    color: #424242;
    margin: 15px 10px;
}

.MuiTypography-h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.StudentTestimonials-main{
    display: flex;
    width: 100%;
    position: relative;
}

.slick-current {
    display: block;
    float: left;
    height: 100%;
    min-height: 1px;
    outline: none;
    width: 410px;
}

.Student__testimonials-placed-people-container-card {
    background: #fff 0 0 no-repeat padding-box;
    box-shadow: 0 16px 32px rgba(0,0,0,.0784313725490196);
    padding: 30px;
    flex: 0 0 70%;
    margin: 10px;
    min-height: 360px;
    border-radius: 16px;
    height: 400px;
}

.Student__testimonials-placed-people-container-card-top {
    display: flex;
    align-items: center;
}

.Student__testimonials-placed-people-container-card-top-image {
    height: 90px;
    width: 90px;
    margin-right: 30px;
}
.slick-slide img {
    display: block;
}

.Student__testimonials-placed-people-container-card-top-name {
    color: rgba(10,45,71,.9294117647058824);
    font-size: 18px;
}

.Student__testimonials-placed-people-container-card-top-text {
    font-size: 16px;
    color: #858588;
}

.Student__testimonials-placed-people-container-card-bottom {
    height: 220px;
    overflow-y: scroll;
    margin-bottom: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Student__testimonials-placed-people-container-card-bottom-text {
    font-size: 15px;
    color: rgba(106,127,134,.9294117647058824);
    margin-top: 20px;
}

/* .slick-current{
    border: 2px solid;
} */


.student-placed-main{
    padding: 80px 0;
    max-width: 1088px;
    margin: 0 auto;
    background-color: #fff;
}

.StudentsPlaced__main--heading {
    text-align: center;
    color: #3e4041;
    font-size: 40px;
    font-weight: 600;
}

.StudentsPlaced__main--subheading {
    text-align: center;
    color: #858585;
    font-size: 16px;
    width: 30%;
    margin: 7px auto 90px;
}

.studentplaced-company{
    display: flex;
    text-align: center;
}

.studentplaced-company-container{
    flex-wrap: wrap;
}

.StudentsPlaced__main-companies-container-box {
    -webkit-box-shadow: 0 10px 35px rgba(4,4,4,.0784313725490196);
    box-shadow: 0 10px 35px rgba(4,4,4,.0784313725490196);
    border-radius: 6px;
    margin: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.StudentsPlaced__main-companies-container-box--img {
    height: 100%;
    width: 100%;
}

.studentplaced-company-container,.StudentsPlaced__main-companies-container-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.prepmentors{
    background: #fff;
    min-height: 50px;
}

.prepmentors-main{
    padding: 80px 0;
    max-width: 1280px;
    margin: 0 auto;
}

.PrepMentors__main--heading {
    text-align: center;
    color: #3e4041;
    font-size: 40px;
    font-weight: 600;
}

.PrepMentors__main--subheading {
    text-align: center;
    margin: 7px auto;
    color: #858585;
    font-size: 16px;
    width: 50%;
}

.prepmentors-main-container{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.PrepMentors__main--container-card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20em;
    flex: 0 0 20em;
    margin: 50px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 36px rgba(0,0,0,.1607843137254902);
    box-shadow: 0 3px 36px rgba(0,0,0,.1607843137254902);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.PrepMentors__main--container-card-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.PrepMentors__main--container-card-image-background--img {
    width: 100%;
}

.PrepMentors__main--container-card-image--img {
    border-radius: 50%;
    width: 132px;
    border-style: bold;
    border-color: #fff;
    position: absolute;
    top: 25%;
    left: 5%;
}

.PrepMentors__main--container-card-text {
    margin-top: 40px;
    padding: 7px;
}

.PrepMentors__main--container-card-text--name {
    color: #424242;
    font-weight: 600;
    font-size: 18px;
    margin-left: 15px;
}

.PrepMentors__main--container-card-text--designation {
    font-size: 14px;
    color: #858585;
    margin-left: 15px;
}

.PrepMentors__main--container-card-info {
    padding: 20px 0;
    margin: 0 20px;
    border-top: 2px solid #f7f7f7;
    height: 200px;
    overflow: scroll;
}

.PrepMentors__main--container-card-info--text {
    font-size: 14px;
    color: #4f4f53;
}

.PrepMentors__main--container-card-company {
    padding: 7px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    margin: 0 auto;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #f7f7f7;
    border-radius: 30px 30px 10px 10px;
    width: 100%;
}

.PrepMentors__main--container-card-company--img {
    padding: 8px;
}

.paymentPlan{
    background: #fdf0d7;
}

.paymentPlan-main{
    padding: 80px 0;
    max-width: 1150px;
    margin: 0 auto;
}

.PaymentPlans__main--heading {
    text-align: center;
    color: #3e4041;
    font-size: 35px;
    font-weight: 600;
}

.PaymentPlans__main--subheading {
    text-align: center;
    color: #312e2d;
    font-size: 22px;
    width: fit-content;
    margin: 10px auto 30px;
}


.paymentPlan-main-container{
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.PaymentPlans__main-container-right {
    width: 50%;
    padding-bottom: 20px;
    background: #d6f4ff 0 0 no-repeat padding-box;
    box-shadow: 0 0 10px hsla(0,0%,55.3%,.1607843137254902);
    border-radius: 17px;
    padding-left: 5%;
    position: relative;
    margin-left: 25%;
}

.PaymentPlans__main-label-img {
    position: absolute;
    top: 5%;
    right: -3.5%;
    width: 44%;
}

.PaymentPlans__main-container-left-heading {
    letter-spacing: 0;
    color: #312e2d;
    font-size: 22px;
    padding-top: 20px;
    font-weight: 400;
}

.PaymentPlans__main-container-left-book {
    color: #312e2d;
    font-size: 20px;
    margin-top: 30px;
}

.PaymentPlans__main-container-right-amount {
    display: flex;
    align-items: center;
}

.PaymentPlans__main-container-right-amount-actual {
    color: #009fe3;
    font-size: 20px;
    font-weight: 600;
}

.PaymentPlans__main-container-right-break, .PaymentPlans__main-container-right-break-refund {
    color: #686463;
    width: 80%;
    margin: 18px 0 2px;
}

.PaymentPlans__main-container-right-detail {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.PaymentPlans__main-container-right-detail-title {
    font-size: 11px;
}

.PaymentPlans__main-container-right-detail-unplace {
    margin-left: 3px;
    font-size: 11px;
    letter-spacing: 0;
}

.PaymentPlans__main-container-right-emi {
    font-size: 20px;
    color: #312e2d;
}

.PaymentPlans__main-container-right-calculation {
    display: flex;
    align-items: center;
    color: #312e2d;
    font-size: 16px;
}

.PaymentPlans__main-container-right-calculation-price {
    letter-spacing: 0;
    color: #009fe3;
    font-size: 20px;
    font-weight: 600;
    margin-right: 2px;
}

.PaymentPlans__main-container-emi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PaymentPlans__main--container-card-left-second--btn {
    color: #f7f7f7;
    background: #01a5ec 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px rgba(0,0,0,.1607843137254902);
    border-radius: 5px;
    border: none;
    width: 200px;
    padding: 15px 52px 14px 51px;
    font-size: 15px;
    margin-top: 30px;
    font-weight: 600;
    cursor: pointer;
}

.PaymentPlans__main--guidelines {
    margin: 40px;
}

.PaymentPlans__main--guidelines-container {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}

.PaymentPlans__main--guidelines-container--img {
    margin-top: 5px;
    height: 20px;
    width: 20px;
    margin-right: 12px;
}

.PaymentPlans__main--guidelines-container--text span {
    color: #424242;
    font-weight: 700;
}

span {
    display: inline-block;
    letter-spacing: 1.3px;
    font-weight: 400;
}

.TestDetails__main {
    max-width: 1280px;
    margin: 0 auto;
    background: #fdf0d7;
}

.TestDetails__main--container-card {
    background: #fdf0d7;
    display: flex;
}

.TestDetails__main--container-card-left {
    width: 60%;
    padding: 40px 0;
    display: flex;
    align-items: center;
}

.TestDetails__main--container-card-left-second--text {
    display: none;
    color: #424242;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 12px;
}

.TestDetails__main--container-card-left-second--subtext {
    display: none;
    color: #858585;
    margin-bottom: 15px;
    width: 85%;
}

.TestDetails__main--container-card-left-first {
    padding: 20px;
}

.TestDetails__main--container-card-left-first--img {
    height: 100%;
    width: 100%;
    margin-left: 30px;
}
.TestDetails__main--container-card-right {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TestDetails__main--container-card-right--text {
    color: #424242;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 8px;
}

.TestDetails__main--container-card-right--subtext {
    color: #858585;
    margin-bottom: 15px;
    width: 70%;
}

.TestDetails__main--container-card-right-box {
    padding: 15px;
    background: #f78077;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.TestDetails__main--container-card-right-box--text {
    font-size: 30px;
    font-weight: 600;
    color: #f7f7f7;
}

.TestDetails__main--container-card-right-button {
    display: block;
}

.TestDetails__main--container-card-right-button--btn {
    color: #f7f7f7;
    background: #00a5ec;
    border-radius: 4px;
    border: none;
    padding: 15px 52px 14px 51px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.IncomeSharingMetrics__main {
    max-width: 1280px;
    margin: 0 auto;
    background: #f78077;
}

.IncomeSharingMetrics__main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
}

.IncomeSharingMetrics__main-container-item {
    display: flex;
    margin-bottom: 15px;
}

.IncomeSharingMetrics__main-container-item--img {
    height: 50px;
    width: 50px;
}

.IncomeSharingMetrics__main-container-item-content {
    margin-left: 10px;
}

.IncomeSharingMetrics__main-container-item-content--text {
    color: #f7f7f7;
    font-weight: 600;
    font-size: 30px;
}

.IncomeSharingMetrics__main-container-item-content--subtext {
    color: #f7f7f7;
    font-size: 16px;
    margin-top: -5px;
}

.incomeSharing-main{
    padding: 25px 0;
    max-width: 1280px;
    margin: 0 auto;
}

.IncomeSharingFaqs__main-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.IncomeSharingFaqs__main-top--heading {
    color: #3f3c3c;
    text-align: center;
    font: normal normal 500 1.75rem/3rem Inter;
    position: relative;
}

.IncomeSharingFaqs__main-middle {
    margin-top: 25px;
}

.IncomeSharingFaqs__main-middle-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.IncomeSharingFaqs__main-middle-content-tab-one {
    background-color: #00a6eb;
    color: #f7f7f7;
    margin: 20px;
    padding: 20px 17px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}
.IncomeSharingFaqs__main-middle-content-tab {
    background: #f5f1ff;
    margin: 20px;
    padding: 20px 17px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    
}

.IncomeSharingFaqs__main-middle-content-tab--text {
    font-size: 16px;
}

.IncomeSharingFaqs__main-middle-content-tab {
    background: #f5f1ff;
    margin: 20px;
    padding: 20px 17px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.questionlinoine{
    box-shadow: 0 4px 4px rgba(0,0,0,.10196078431372549);
    border-radius: 8px;
    padding: 20px 40px;
}

.IncomeSharingFaqs-panel:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.10196078431372549);
}

.IncomeSharingFaqs-panel {
    margin-bottom: 0;
}

.IncomeSharingFaqs-panel {
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
}

button.IncomeSharingFaqs-panel__header {
    cursor: pointer;
    border-radius: 0;
    font-weight: 500;
    font-size: 18px;
    font-family: Poppins,sans-serif;
    display: flex;
    justify-content: space-around;
}
.IncomeSharingFaqs-panel__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 96%;
    text-align: left;
    border: var(--panel-border);
    font-weight: 700;
    color: inherit;
    color: #707070;
    background: #fff 0 0 no-repeat padding-box;
    border-radius: 5px;
}

.IncomeSharingFaqs-panel__header-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 60%;
   
}


.IncomeSharingFaqs-panel__body {
    border-right: var(--panel-border);
    border-bottom: var(--panel-border);
    border-left: var(--panel-border);
}

.IncomeSharingFaqs-panel__body, .IncomeSharingFaqs-panel__header {
    padding: 10px 25px;
}

.IncomeSharingFaqs-panel__body>:last-child {
    margin-bottom: 0;
    font-size: 16px;
    color: #858585;
}




@media screen and (min-width: 600px) and (max-width: 1050px){
    .StudentTestimonials-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        margin-left: 25%;
    }

    .IncomeSharingHeader-main {
        margin: 0 auto;
        max-width: 1286px;
        display: flex;
        flex-direction: row-reverse;
        background-color: rgb(253, 240, 215);
    }
}

