/* .tabheadertwo{
    display: none;
} */

.name-circle{
    color: #fff;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    padding-left: 2px;
    background-color: #03A6EC;
    border-radius: 50%;
    margin-right: 0.5em;
    display: flex;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1;
    justify-content: center;
   
}

.hiiUser{
    color: #03A6EC;
    font-weight: 500;
}

.mydashboard{
    color: #036;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
}

.logout{
    color: #ff8787;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0;
}


@media screen and (min-width: 600px) and (max-width: 1200px){
    .tabheadertwo{
        display: block;
    }
    .tabheader{
        display: none;
    }

    .name-circle{
        display: none;
    }

    .tabheadertwo{
        display: show;
    }
    
}

@media screen and (min-width: 300px) and (max-width: 600px){
    .tabheader{
        display: none;
    }

    .tabheadertwo{
        display: show;
    }

    .name-circle{
        display: none;
    }
    
}